/*=====test css=======*/


.fb-like-box { 
	display: block; 
	margin: 0 auto; 
}

.youtube_player { 
	display: block;
	margin: 0 auto; 
}

.fb-like-box {
	background-color: white;
}


.facts li {
	list-style-type: circle;
}
.facts {
  	display:block;
  	width:600px; 
	margin:0px auto; 
}
.container img {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 25px;
	-moz-box-shadow: 	1px 1px 5px #172742, -1px -1px 5px #172742; 
	-o-box-shadow:		1px 1px 5px #172742, -1px -1px 5px #172742; 
	-webkit-box-shadow: 1px 1px 5px #172742, -1px -1px 5px #172742;
	box-shadow: 		1px 1px 5px #172742, -1px -1px 5px #172742; 
	}	

body {
	font-family: 'Marcellus', serif;
	max-width: 996px;
	margin: 0 auto;
	padding: 0;
	background-image: url("../images/fur.png");
	background-color: #a08462;
	}

h1 {
	margin: 0px;
	text-indent: -990000px;
}

.pcenter {
	display: block; 
	margin-left: auto;
	margin-right: auto;	
	max-width: 900px;
	text-align: center; 
	font-size: 1em;
	line-height: 1.2em;
}

.largep {
	font-size: 1.3em;
	line-height: 1.4em
}

h2 {
	font-family: 'Caesar Dressing', cursive;
	color: #133062;
	font-size: 1.8em;
	text-align: center;
	}
	
 h3, h4 {
	font-family: 'Caesar Dressing', cursive;
	color: #133062;
	font-size: 1.4em;
	text-align: center;
	}

p {
	color: #794a28;
}

ul {
	max-width: 600px;
	color: #794a28;
}

/*========Header============*/

header {
	min-width: 100%;
	padding-top: 10px;
	margin: 0 auto;
	background-color: #aaacb1;
	border-bottom: solid 2px #133062;
	}


header img {
	float: left;
	padding-left: 20px;
	margin-right: 20px;
	margin-top: -40px;
	}
	
/*====== nav ======*/


.bt ul li{
	float:left;
	margin: 0;
	padding: 0;
	list-style:none;
	font-family: 'Caesar Dressing', cursive;
	}

.bt li a {
	display:block;
	padding-right: 15px;
	line-height: 2.5em;
	color:#133062;
	text-decoration: none;
	}


.bt li a:visted {
	color: #133062;
}

.bt li a:hover {
	color: #794a28;
	text-decoration: underline;

}

.bt li a:active; {
	color: #f7e71e;
}

li{
	position:relative;
	font-size: 1em;
	}

ul.submenu {
	float:none;
	position:absolute;
	left:-9000em;
	z-index:1;
	width:135px;
	background-color: #aaacb1;
	-moz-box-shadow: 	1px 1px 5px #172742, -1px -1px 5px #172742; 
	-o-box-shadow:		1px 1px 5px #172742, -1px -1px 5px #172742; 
	-webkit-box-shadow: 1px 1px 5px #172742, -1px -1px 5px #172742;
	box-shadow: 		1px 1px 5px #172742, -1px -1px 5px #172742; 
	}

.topmenu li:hover ul{
	left:0;
	}  

ul.submenu li {
	float:none;
	font-size: 0.8em;
	position:relative;
	}

/*============body============*/



.container {
	background-color: rgba(170, 172, 178, 0.8);	
	padding-top: 10px;
	padding-bottom: 20px;

}

.container a {
	text-align: center;
	color:#794a28;
	text-decoration: none;
	}


.container a:visted {
	color: #794a28;
}

.container a:hover {
	color: #15346b; 
}

.container a:active; {
	color: #f7e71e;
	}

.container iframe {
	align: center;
}












/*=========footer============*/

footer {
	min-width: 100%;
	background-color: #15346b;
	margin: 0 auto;
	padding-top: 30px;
	font-size:  0.8em;
	color: #aaacb1;	
	border-top: solid 2px #aaacb1;
}

#social_media {
	float: left;
}

#facebook {
	padding-left: 50px;
}

#youtube {
	margin-top: 10px;
	padding-left: 50px;
}

footer a {
	color:#aaacb1;
	text-decoration: none;
	}


footer a:visted {
	color: #aaacb1;
}

footer a:hover {
	color: #15346b;
	background-color: #aaacb1; 
	text-decoration: underline;
}

footer a:active; {
	color: #f7e71e;
	}

footer p {
	padding-left: 20px;
	color: #aaabb1;
}

#footer_contact {
	text-align: center;
	font-size: .7em;
	padding-top: 10px;
	padding-bottom: 10px;
}



#leslie p{
	padding-left: 750px;
	padding-bottom: 15px;
}


.red dl {
	width: 946.2px; 
	margin: 0 auto; 
	padding: 10px;
	overflow: hidden;
}

.red dl li {
	margin-left: 48.7333333333px;
	float: left; 
	}

.gallery {
	display: block;
}


.green dl {
	width: 946.2px; 
	margin: 0 auto; 
	padding: 10px;
	overflow: hidden;
}

.green dl li {
	padding-left: 28.7333333px;
	float: left; 
	}

.animal {
	display: block;
}

