/*=====test css=======*/



body {
	font-family: 'Marcellus', serif;
	max-width: 996px;
	margin: 0 auto;
	padding: 0;
	}

h1 {
	margin: 0px;
	text-indent: -990000px;
}



/*========Header============*/

header {
	min-width: 100%;
	padding-bottom: 80px;
	padding-top: 10px;
	margin: 0 auto;
	background-color: #aaacb1;
	border-bottom: solid 2px #133062;
	}


header img {
	float: left;
	padding-left: 20px;
	margin-right: 20px;
	margin-top: -40px;
	}
	
/*====== nav ======*/


.bt ul li{
	float:left;
	margin: 0;
	padding: 0;
	list-style:none;
	font-family: 'Caesar Dressing', cursive;
	}

.bt li a {
	display:block;
	padding-left: 10px;
	line-height: 2.5em;
	color:#133062;
	}


.bt li a:visted {
	color: #133062;
}

.bt li a:hover {
	color: #794a28;
}

.bt li a:active; {
	color: #f7e71e;
}

li{
	position:relative;
	font-size: 1em;
	}

ul.submenu {
	float:none;
	position:absolute;
	left:-9000em;
	z-index:1;
	width:135px;
	background-color: #aaacb1;
	-moz-box-shadow: 	1px 1px 5px #172742, -1px -1px 5px #172742; 
	-o-box-shadow:		1px 1px 5px #172742, -1px -1px 5px #172742; 
	-webkit-box-shadow: 1px 1px 5px #172742, -1px -1px 5px #172742;
	box-shadow: 		1px 1px 5px #172742, -1px -1px 5px #172742; 
	}

.topmenu li:hover ul{
	left:0;
	}   

ul.submenu li {
	float:none;
	font-size: 0.8em;
	position:relative;
	}




/*=========footer============*/

footer {
	min-width: 100%;
	background-color: #15346b;
	margin: 0 auto;
	padding-top: 30px;
	font-size:  0.8em;
	color: #aaacb1;	
}

#facebook {
	padding-left: 50px;
}

#youtube {
	margin-top: 10px;
	padding-left: 50px;
}


footer a {
	color:#15346b;
	}


footer a:visted {
	color: #15346b;
}

footer a:hover {
	color: #794a28;
}

footer a:active; {
	color: #f7e71e;
	}

footer p {
	padding-left: 20px;
}

#footer_contact {
	text-align: center;
	font-size: .7em;
	padding-top: 10px;
	padding-bottom: 10px;
}



